<%
  
  headerFile = @genboreePCSettings.headerFilePath.to_s.strip
  footerFile = @genboreePCSettings.footerFilePath.to_s.strip
%>
<!DOCTYPE html>
<html lang="<%= current_language %>">
<head>
  <meta charset="utf-8" />
  <title><%=h html_title %></title>
  
  <meta name="description" content="<%= Redmine::Info.app_name %>" />
  <meta name="keywords" content="issue,bug,tracker" />
  <%# Have Redmine add its authorization token meta tags (and favicon meta tag) %>
  <%= csrf_meta_tag %>
  <%= favicon %>

  <%= javascript_include_tag 'jquery-1.12.min.js', :plugin => 'genboree_generic' %>
  <%= javascript_include_tag 'jquery-ujs-2.0.3.js', :plugin => 'genboree_generic' %>
  <%= javascript_include_tag 'helpers.js', :plugin => 'genboree_generic' %>

  <%# Load Redmine's application.js for core variables etc %>
  <%= javascript_include_tag 'application.js' %>
  <%# Load app specific assets %>
  <%= stylesheet_link_tag 'ext-4.2.1/resources/css/ext-all.css ', :plugin => 'genboree_patho_calc', :media => 'all' %>
  <%= stylesheet_link_tag 'gridPage.css', :plugin => 'genboree_patho_calc', :media => 'all' %>
  <%= stylesheet_link_tag 'tableViews.css', :plugin => 'genboree_patho_calc', :media => 'all' %>
  <%= stylesheet_link_tag 'font-awesome.css', :plugin => 'genboree_generic', :media => 'all' %>
  <%= stylesheet_link_tag 'common.css', :plugin => 'genboree_patho_calc', :media => 'all' %>
  <%= javascript_include_tag 'loader.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'predictor.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'predictor.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'ext-all.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'util.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'cellWindowEdit.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'entryPage.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'panels.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'advanceSearch.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'ajax.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'template.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'createEvidence.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'helper.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'tagAndLinks.js', :plugin => 'genboree_patho_calc' %>
  <%= javascript_include_tag 'forge.bundle.js', :plugin => 'genboree_patho_calc' %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <%# Arrange for any <head> content from the specific View (i.e. via this: content_for :header_tags) %>
  <%= yield :header_tags -%>

</head>
<body>
  <%# Insert static header file, if available %>
  <% if(File.exist?(headerFile)) %>
    <%= File.read(headerFile).html_safe %>
  <% end %>

  <%# This will be in body %>
  <%# * div#content wraps all View html %>
  <div id="content">
    <%# Arrange to render and insert output of the specific View (whatever that is at the time) %>
    <%= yield %>
    <%= call_hook :view_layouts_base_content %>
    <%# Cleanly end the page with an HTML "blank" line %>
    <div style="clear:both;"></div>
  </div>
  
  <%# Insert static footer file, if available %>
  <% if(File.exist?(footerFile)) %>
    <%= File.read(footerFile).html_safe %>
  <% end %>

  <%= yield :body_end %>
</body>
</html>
